@import url("https://fonts.googleapis.com/css2?family=Libre+Franklin:ital,wght@1,300&display=swap");

:root {
  --background: #252222;
  --light-background: #414141;
  --text: #ffffff;
  --orange: #ff791f;
  --crimson: #ca3142;
}

* {
  color: var(--text);
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Libre Franklin", sans-serif;
}

html {
  height: 100%;
  background-color: var(--background);
}

.App {
  height: 100%;
  width: 100%;
  background-color: var(--background);
}

input {
  padding-left: 5px;
}
