.recipe-list {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.our-recipes {
  background-color: var(--light-background);
}

.recipe-item {
  border-radius: 20px;
  background-color: var(--light-background);
  margin: 30px 60px;
}

.ourRecipes li,
.ourRecipes p {
  background-color: var(--light-background);
  padding-left: 20px;
  overflow: hidden;
  max-width: 700px;
}

.ing-details,
.ing-ul,
.recipe-title,
.instructions,
.instructions-list {
  background-color: var(--light-background);
}

.triangle-down {
  width: 0;
  height: 0;
  border-left: 15px solid transparent;
  border-right: 15px solid transparent;
  border-top: 26px solid white;
  background-color: var(--light-background);
  margin-top: 5px;
  margin-bottom: 10px;
  margin-left: 20px;
  cursor: pointer;
}

.triangle-up {
  width: 0;
  height: 0;
  border-left: 15px solid transparent;
  border-right: 15px solid transparent;
  border-bottom: 26px solid white;
  background-color: var(--light-background);
  margin-top: 5px;
  margin-bottom: 10px;
  margin-left: 20px;
  cursor: pointer;
}

